---
import HTMLPage from '../layouts/HTMLPage.astro';
import AppWrapper from '../layouts/AppWrapper.astro';
import '../styles/pages/index.scss';
---

<HTMLPage title="Stoop n' Scoop">
    <main class="content">
        <img class="logo" src="images/stoopnscoop-logo.svg" />
        <AppWrapper />
    </main>
</HTMLPage>