---
import Layout from '../layouts/Layout.astro';
import { getProducts } from '../services/cms';

const catalogue = await getProducts();
---

<Layout title="Stoop n' Scoop">
    <main class="content">
        <img class="logo" src="images/stoopnscoop-logo.svg" />
        <p class="title">✨Coming Soon✨</p>
        <ul>
            {catalogue.children.map(child => (
                <li><a href={child.path}>{child.name}</a></li>
            ))}
        </ul>
    </main>
</Layout>

<style is:global>
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EEA2A3;
    }
</style>
<style>
    .content {
        width: 50%;
        text-align: center;
    }
    
    .title {
        font-size: 2.5rem;
        font-family: sans-serif;
        font-weight: bold;
        animation: colors 3s infinite;
    }
    
    @keyframes colors { 
      0%, 100% {
        color: #406EB9;
      }
    
      50% {
        color: #809BC6;
      }
    }
</style>