@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

@font-face {
    font-family: 'zigheadregular';
    src: url('zighead-webfont.woff2') format('woff2'),
         url('zighead-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
	--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
	--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

	--color-white: #F5F3E7;
	--color-black: #1E1E1E;
	--color-grey: #40393E;
	--color-pink: #DC828F;
	--color-yellow: #F7CE76;
	--color-beige: #E8D6CF;
	--color-purple: #8C7386;
	--color-green: #9C9359;
	--color-blue: #C1D5DE;
	--color-orange: #E6A57E;
	--color-muave: #AE8A8C;
	--color-red: #874741;

	--color-text: var(--color-black);
	--color-bg: var(--color-pink);
	--color-border: hsl(17, 24%, 90%);
}

html {
	font-family: 'Tenor Sans', system-ui, sans-serif;
	font-size: var(--font-size-base);
	color: var(--color-text);
	background-color: var(--color-bg);
}

body {
	margin: 0;
}

h1 {
	font-size: var(--font-size-xl);
}

h2 {
	font-size: var(--font-size-lg);
}

code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

.text--zighead {
	font-family: 'zigheadregular', system-ui, sans-serif;
}